.pointer {
  cursor: pointer;
}
table {
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
}
thead th{
  text-align: center;
  background-color: #ccc;
}
.text-center {
  text-align: center;
}
.mr-10 {
  margin-right: 10px;
}
.ml-30 {
  margin-left: 30px;
}
